<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Khuyến mại</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Khuyến mại</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <nz-tabset>
                                    <nz-tab nzTitle="Khuyến mại"><app-sale></app-sale></nz-tab>
                                    <nz-tab nzTitle="Khuyến mại sản phẩm"><app-create-detail-sale></app-create-detail-sale></nz-tab>
                                </nz-tabset>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>